*{
box-sizing: border-box;		

}

body {
	font-size: 1.35em;
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	background: #e8e9e9;
	padding-left: 5%;
	padding-right: 5%;
}

.search {
	margin: 45px auto;	
}

img {
	max-width: 80%;
	align-items: center;
	}
.photos {
	
	background-color: ;
	margin: 15px auto;

}
